# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
backend/.env

# =========================
# Frontend build & cache
# =========================
frontend/dist/
frontend/.vite/

# =========================
# Backend logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor files
# =========================
.vscode/
.idea/
